In [1]:
import pandas as pd
import numpy as np

In [2]:
sample_data = pd.read_csv('filtered_PPI.csv')

In [3]:
sample_data

       protein1  protein2  combined_score
0          5178    408617             194
1          5178    406674             333
2          5178    360293             184
3          5178     75120             369
4          5178    437621             178
...         ...       ...             ...
32553    500934    320935             310
32554    500934    417182             202
32555    500934    351697             191
32556    500934    379895             161
32557    500934    445043             356

[32558 rows x 3 columns]

In [ ]:
%run src_customized/main.py # time pretty long

Loaded data!
Epoch 1, Loss: 17886.02734375
Epoch 2, Loss: 23243.20703125
Epoch 3, Loss: 16550.97265625
Epoch 4, Loss: 17786.908203125
Epoch 5, Loss: 17865.8828125
Epoch 6, Loss: 17675.75390625
Epoch 7, Loss: 17252.1953125
Epoch 8, Loss: 16699.4453125